{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://account.purview.azure.com/share/sentShares/4d665d00-82a2-4a65-98a0-675440149d12?api-version=2023-02-15-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Operation-Id" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Operation-Location" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
      "Body" : "{\"properties\":{\"displayName\":\"sentshare379022a7cea\",\"description\":\"A sample share\",\"artifact\":{\"properties\":{\"paths\":[{\"containerName\":\"test-files\",\"senderPath\":\"graph.png\",\"receiverPath\":\"graph.png\"}],\"location\":\"japaneast\"},\"storeKind\":\"BlobAccount\",\"storeReference\":{\"referenceName\":\"/subscriptions/8af54e97-8629-48cd-A92e-24753982bf92/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/providerstorage\",\"type\":\"ArmResourceReference\"}},\"state\":\"Succeeded\",\"createdAt\":\"2023-02-23T22:02:47.7451827Z\",\"dependsOn\":[],\"senderName\":\"my-share-app\",\"senderTenantName\":\"Contoso\"},\"shareKind\":\"InPlace\",\"id\":\"4d665d00-82a2-4a65-98a0-675440149d12\",\"type\":\"SentShare\"}",
      "Location" : "/sentShares/4d665d00-82a2-4a65-98a0-675440149d12/4d665d00-82a2-4a65-98a0-675440149d12",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"startTime\":\"2023-02-23T22:02:49.1767804Z\",\"endTime\":\"2023-02-23T22:02:49.1767804Z\",\"status\":\"Succeeded\",\"error\":null}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://account.purview.azure.com/share/sentShares/4d665d00-82a2-4a65-98a0-675440149d12/sentShareInvitations/d81c8398-b710-4818-879a-9620788ec7d5?api-version=2023-02-15-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "{\"properties\":{\"targetActiveDirectoryId\":\"4653a7b2-02ff-4155-8e55-2d0c7f3178a1\",\"targetObjectId\":\"68700464-B46c-4ec0-88ff-6061da36da69\",\"shareStatus\":\"Detached\",\"sentAt\":\"2023-02-23T22:02:49.7456528Z\",\"senderName\":\"my-share-app\",\"senderTenantName\":\"Contoso\",\"state\":\"Succeeded\"},\"invitationKind\":\"Service\",\"id\":\"d81c8398-b710-4818-879a-9620788ec7d5\",\"type\":\"sentShares/sentShareInvitations\"}",
      "Location" : "/sentShares/4d665d00-82a2-4a65-98a0-675440149d12/sentShareInvitations/d81c8398-b710-4818-879a-9620788ec7d5/d81c8398-b710-4818-879a-9620788ec7d5",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://account.purview.azure.com/share/receivedShares/detached?api-version=2023-02-15-preview&%24orderBy=properties/createdAt%20desc",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":[{\"properties\":{\"createdAt\":\"2023-02-23T22:02:49.7456528Z\",\"sharedAt\":\"2023-02-23T22:02:49.7456528Z\",\"displayName\":\"sentshare379022a7cea\",\"state\":\"Succeeded\",\"shareStatus\":\"Detached\",\"sentShareDescription\":\"A sample share\",\"senderName\":\"my-share-app\",\"senderTenantName\":\"Contoso\",\"assetLocation\":\"japaneast\",\"assetStoreKind\":\"BlobAccount\"},\"shareKind\":\"InPlace\",\"id\":\"e14ba972-8767-4cbe-a75a-97c85474f8e2\",\"type\":\"ReceivedShare\"},{\"properties\":{\"createdAt\":\"2023-02-23T22:02:40.5894477Z\",\"sharedAt\":\"2023-02-23T22:02:40.5894477Z\",\"displayName\":\"sentshare8517428f88f\",\"state\":\"Succeeded\",\"shareStatus\":\"Detached\",\"sentShareDescription\":\"A sample share\",\"senderName\":\"my-share-app\",\"senderTenantName\":\"Contoso\",\"assetLocation\":\"japaneast\",\"assetStoreKind\":\"BlobAccount\"},[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://account.purview.azure.com/share/receivedShares/e14ba972-8767-4cbe-a75a-97c85474f8e2?api-version=2023-02-15-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Operation-Id" : "https://account.purview.azure.com/share/operationResults/3feff44b-2235-4e97-a141-e125c2027eb9?api-version=2023-02-15-preview",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Operation-Location" : "https://account.purview.azure.com/share/operationResults/3feff44b-2235-4e97-a141-e125c2027eb9?api-version=2023-02-15-preview",
      "Body" : "{\"properties\":{\"createdAt\":\"2023-02-23T22:02:49.7456528Z\",\"sharedAt\":\"2023-02-23T22:02:49.7456528Z\",\"displayName\":\"sentshare379022a7cea\",\"state\":\"Creating\",\"shareStatus\":\"Attached\",\"sentShareDescription\":\"A sample share\",\"receiverName\":\"my-share-app\",\"receiverTenantName\":\"Fabrikam\",\"senderName\":\"my-share-app\",\"senderTenantName\":\"Contoso\",\"assetLocation\":\"japaneast\",\"assetStoreKind\":\"BlobAccount\",\"sink\":{\"properties\":{\"containerName\":\"container302106f1e94\",\"folder\":\"folder48703908d\",\"mountPath\":\"mountpath57650c08\",\"location\":\"japaneast\"},\"storeKind\":\"BlobAccount\",\"storeReference\":{\"referenceName\":\"/subscriptions/8af54e97-8629-48cd-A92e-24753982bf92/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/consumerstorage\",\"type\":\"ArmResourceReference\"}}},\"shareKind\":\"InPlace\",\"id\":\"e14ba972-8767-4cbe-a75a-97c85474f8e2\",\"type\":\"ReceivedShare\"}",
      "Location" : "/receivedShares/e14ba972-8767-4cbe-a75a-97c85474f8e2/e14ba972-8767-4cbe-a75a-97c85474f8e2",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://account.purview.azure.com/share/operationResults/3feff44b-2235-4e97-a141-e125c2027eb9?api-version=2023-02-15-preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"startTime\":\"2023-02-23T22:02:53.3167432Z\",\"endTime\":null,\"status\":\"Succeeded\",\"error\":null}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "4d665d00-82a2-4a65-98a0-675440149d12", "d81c8398-b710-4818-879a-9620788ec7d5", "sentshare379022a7cea", "container302106f1e94", "folder48703908d", "mountpath57650c08" ]
}